<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon
            class="social-logo"
            color="primary"
            name="logo-linkedin"
          ></ion-icon>

          <ion-searchbar
            color="tertiary"
            class="ion-hide-lg-down"
            placeholder="Search"
          ></ion-searchbar>
        </ion-button>
      </ion-buttons>

      <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="home"></ion-icon>
            <span>Home</span>
          </ion-col>
          <ion-col
            (click)="
              friendRequests.length > 0 && presentFriendRequestPopover($event)
            "
            class="ion-hide-md-down"
            size="auto"
          >
            <ion-icon name="people"></ion-icon>
            <ion-badge *ngIf="friendRequests.length > 0"
              ><small>{{ friendRequests.length }}</small></ion-badge
            >
            <span>My Network</span>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="briefcase"></ion-icon>
            <span>Jobs</span>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <span>Messaging</span>
          </ion-col>
          <ion-col class="ion-hide-md-down" size="auto">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge><small>39</small></ion-badge>
            <span>Notifications</span>
          </ion-col>
          <ion-col
            size="auto"
            class="popover-menu"
            (click)="presentPopover($event)"
          >
            <ion-avatar>
              <ion-img [src]="imagePath" alt="avatar"></ion-img>
            </ion-avatar>
            <div class="header-username">
              <span class="header-avatar">Profile</span>
              <ion-icon name="caret-down-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
