<ion-header class="ion-container ion-no-border">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon
            class="social-logo"
            color="primary"
            name="logo-linkedin"
          ></ion-icon>

          <ion-searchbar
            color="tertiary"
            class="ion-hide-lg-down"
            placeholder="Search"
          ></ion-searchbar>
        </ion-button>
      </ion-buttons>

      <ion-grid>
        <ion-row class="ion-justify-content-end">
          <ion-col size="auto">
            <ion-icon name="home"></ion-icon>
            <span>Home</span>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="people"></ion-icon>
            <span>My Network</span>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="briefcase"></ion-icon>
            <span>Jobs</span>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <span>Messaging</span>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge><small>399</small></ion-badge>
            <span>Notifications</span>
          </ion-col>
          <ion-col size="auto" (click)="presentPopover($event)">
            <ion-avatar>
              <ion-img src="/assets/images/me.jpg" alt="avatar"></ion-img>
            </ion-avatar>
            <div class="header-username">
              <span class="header-avatar">Me </span>
              <ion-icon name="caret-down-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
